<tr>
	<td><%= contact.name %></td>
	<td><%= contact.email %></td>
	<td><%= link_to 'Show', contact %></td>
	<td><%= link_to 'Edit', edit_contact_path(contact) %></td>
	<td><%= link_to 'Add Note', new_contact_note_path(contact) %></td>
</tr>
