<h1>Search Contacts</h1>

<%= search_form_for @search do |f| %>
	<p>
		<%= f.label :first_name_cont %>
		<%= f.text_field :first_name_cont %><br />
		<%= f.label :last_name_cont %>
		<%= f.text_field :last_name_cont %><br />
		<%= f.label :email_cont %>
		<%= f.text_field :email_cont %>
	</p>
	<p><%= f.submit "Search" %></p>
<% end %>

<p>Sort by:
	<%= sort_link @search, :last_name %> |
	<%= sort_link @search, :first_name %> |
	<%= sort_link @search, :email %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @contacts %>
</table>

<br />
