<h1><%= @contact.name %></h1>

<p id="notice"><%= notice %></p>

<p><b><%= @contact.email %></b></p>

<p><%= link_to 'Add Note', new_contact_note_path(@contact)%></p>

<% unless @contact.notes.empty? %>
	<p>Sort by <%= sort_link @search, :created_at %></p>
	<table class="notes">
		<%= render @notes %>
	</table>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
